/* reset */
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, nav, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

html {
    overflow-x: hidden;
}

body {
    min-width: 360px;
    overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,nav,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* constants */
:root{
    --color-bg: #F4F4F4;
    --color-header: #FFFFFF;
    --color-text: #676C7A;
    --color-text-secondary: #9A9A9A;
    --color-text-button: #212C33;
    --color-title: #212C33;
    --color-primary: #EE1A26;
    --color-accent: #212C33;
    --color-decor: #F4F4F4;
    --font-size: 20px;
    --font-size-button: 16px;
    --half-dark-blue: #676C7A;
}

@font-face {
    font-family: 'Onest';
    /* src: url('fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'), */
    src: url('../fonts/Onest-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* base */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    line-height: 1.5;
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    font-family: 'Onest';
    font-size: var(--font-size);
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex:1;
    row-gap: 100px;
}

.container{
    max-width: 1710px;
    padding: 0 15px;
    margin: 0 auto;
}

h1{
    font-family: Onest;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--color-title);
}

h2{
    font-family: Onest;
    font-size: 72px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-title);
}

.button{
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    will-change: transform;
}

.button:hover{
    transform: translateY(2%);
}

.button:active{
    transform: translateY(3%);
}

.button_colored{
    padding: 36px;
    font-size: 28px;
    font-weight: 700;
    color: white;
    background-color: var(--color-primary);
    border-radius: 20px;
}

.button_colored:hover{
    opacity: 0.8;
}

.button_bordered{
    padding: 12px 30px;
    font-family: Onest;
    font-weight: 400;
    font-size: var(--font-size-button);
    line-height: 150%;
    background: transparent;
    border: 1px solid var(--color-text);
    border-radius: 65px;
    color: var(--color-text-button);
}

.button_bordered:hover{
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

a{
    color: var(--color-primary);
}

a:hover,
button:hover{
    transition: all .3s ease-in-out;
}

/* header */
.header{
    padding-top: 30px;
    padding-bottom: 20px;
}

.header__container{
    padding: 7px 30px 7px 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--color-header);
}

.logo{
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 10px;
}

.logo img{
    display: block;
    width: 36px;
    height: 59px;
}


/* nav */
nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__close{
    display: none;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: -340px;
}

.nav__link{
    font-size: var(--font-size-button);
    font-weight: 400;
    line-height: 18px;
    color: var(--color-text-button);
    white-space: nowrap;
    transition: all .3s ease-in-out;
}

a.nav__link:hover{
    color: var(--color-primary);
}

.menu{
    display: none;
}

.header__button{
    margin-left: 44px;
}

/* promo */
.promo__container{
    padding: 80px;
    border-radius: 20px;
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
}

.promo__title{
    max-width: 800px;
    width: 100%;
}

.promo__subtitle{
    font-size: 26px;
    font-weight: 500;
    color: var(--half-dark-blue);
    margin-bottom: 32px;
}

.promo__image{
    padding: 63px 110px;
    border-radius: 20px;
    border: 1px solid #C9C9C9;
}

.promo__image img{
    width: 100%;
    height: 229px;
}

/* about */
.about__container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    padding: 70px;
    border-radius: 20px;
    background-color: var(--color-header);
}

.about__title{
    max-width: 628px;
    width: 100%;
}

.about__subtitle{
    font-size: 18px;
    color: var(--color-text-secondary);
    margin-bottom: 50px;
}

.about__text{
    max-width: 751px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 30px;
}

.about__text .about__subtitle{
    position: relative;
    margin-bottom: 10px;
    padding-left: 27px;
}

.about__text .about__subtitle::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color:  var(--color-primary);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* info */
.info__container{
    display: flex;
    padding: 90px 100px;
    border-radius: 20px;
    background-color: var(--color-header);
}

.info__title{
    max-width: 391px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-bottom: 70px;
}

.info__title h2{
    max-width: 800px;
    width: 100%;
}

.info__subtitle{
    max-width: 370px;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.info__block{
    width: 100%;
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    gap: 20px;
}

.info__item{
    width: 100%;
    padding: 35px 25px 27px 25px;
    border-radius: 10px;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
}

.info__item:hover{
    background: #EE1A26;
}

.info__item:hover *{
    color: white;
}

.info__item-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-bottom: 88px;
}

.info__item-title{
    font-size: 66px;
    font-weight: 400;
    line-height: 115%;
    color: var(--color-title);
    text-align: right;
    align-self: flex-end;
}

.info__item-title span{
    color: rgba(33, 44, 51, 0.4);
}


.info__item-decor{
    width: 100%;
    height: 1px;
    background-color: #D1D1D1;
}

.info__item-text{
    font-size: 20px;
    color: #141414;
}

/* core values */

.core-values-wrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
            'A A C C'
            'B B C C';
    justify-content: space-between;
    gap: 20px;
    border-radius: 20px;
    padding: 0 70px;
}

.core-values_title {
    grid-area: A;
    max-width: 519px;
    height: max-content;
    color: #212C33;
    font-size: 72px;
    font-weight: 500;
    line-height: 88px;
}

.core-values_img {
    grid-area: B;
    display: flex;
    align-self: self-end;
    max-width: 519px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.core-values_task-wrapper {
    grid-area: C;
    display: flex;
    flex-direction: column;
    justify-self: self-end;
    gap: 20px;
    max-width: 752px;
    width: 100%;
}

.core-values_task_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
    background: #FFF;
    padding: 30px 61px 57px 30px;
}

.core-values_task_item_text {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #212C33;
    font-size: 34px;
    line-height: 120%;
}

.core-values_task_item_text:before {
    display: block;
    content: '';
    max-width: 18px;
    width: 100%;
    height: 18px;
    border-radius: 100%;
    background-color: var(--color-primary);
}

.core-values_task_item span {
    color: var(--half-dark-blue);
    font-size: 18px;
    line-height: 150.5%;
}

/* total */
.total{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/total-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.total__container{
    padding: 130px 124px 96px 92px;
    border-radius: 20px;
    background-color: var(--color-header);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 70px;
}

.total__container h2{
    display: none;
}

.total__subtitle{
    font-size: 36px;
    font-weight: 500;
    color: var(--color-text);
}

.total__subtitle br{
    display: none;
}

.total__title{
    font-size: 440px;
    font-weight: 800;
    line-height: 1;
    color: var(--color-title);
}

.total__text{
    font-size: 72px;
    font-weight: 500;
    color: var(--color-primary);
    align-self: flex-end;
}

/* video */
.video__container{
    /* height: 850px; */
    position: relative;
}

.video__container h2{
    display: none;
}

.video__title{
    position: absolute;
    bottom: 20px;
    left: 90px;
    font-size: 48px;
    font-weight: 400;
    color: white;
    z-index: 10;
}

.video__title_hidden{
    visibility: hidden;
}

.video__time{
    position: absolute;
    bottom: 20px;
    right: 98px;
    font-size: 36px;
    font-weight: 500;
    color: white;
    z-index: 10;
}

.video__time_hidden{
    visibility: hidden;
}

.button_play {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.video-block {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 40px;
}

.video-block::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.video-block_played::before{
    opacity: 0;
    visibility: hidden;
}

.video-block__content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-block__play {
    background-image: url('../images/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 193px;
    height: 192px;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.video-block__play_played {
    opacity: 0;
    visibility: hidden;
}

/* mission */
.mission{
    background-color: var(--color-accent);
    padding-top: 80px;
    padding-bottom: 140px;
    margin-top: -120px;
}

.mission__container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: transparent;
}

.mission__title{
    max-width: 751px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 44px;
}

.mission__title h2{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: white;
    font-size: 50px;
}

.mission__title h2::before{
    display: block;
    content: '';
    max-width: 22px;
    width: 100%;
    height: 22px;
    border-radius: 100%;
    background-color:  var(--color-primary);
}

.mission__subtitle{
    font-size: 18px;
    color: var(--color-text-secondary);
}

.mission__text{
    max-width: 666px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    color:white;
}

.mission__text-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 115%;
    color: white;
    margin-bottom: 16px;
}

.mission__text p{
    font-size: 22px;
    color: #F4F4F4;
}

.mission__text .mission__subtitle{
    position: relative;
    padding-left: 27px;
}

.mission__text .mission__subtitle::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color:  var(--color-primary);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* direction */
.direction__container{
    padding: 100px 98px 100px 90px;
    background-color: var(--color-header);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.direction__title{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 7px;
}

.direction__subtitle{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-secondary)
}

.direction__title h2{
    margin-bottom: 22px;
}

.direction__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 28px;
}

.direction__info .direction__subtitle{
    position: relative;
    padding-left: 27px;
    margin-bottom: 24px;
}

.direction__info .direction__subtitle::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color:  var(--color-primary);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.direction__info-container{
    display: flex;
    align-items: stretch;
    gap: 28px;
    width: 100%;
}

.direction__item{
    position: relative;
    width: 100%;
    padding: 30px 30px 34px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 10px;
    background: #F4F4F4;
}

.direction__item-title{
    min-height: 95px;
}

.direction__item-title p{
    width: fit-content;
    padding: 9px 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-title);
    border-radius: 10px;
    border: 1px solid#D1D1D1;
    background-color: #FFF;
}

.direction__item-text{
    color: #212C33;
    font-size: 34px;
    line-height: 120%;
}

/* finance */
.finance__container{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.finance__subtitle{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.finance__container h2{
    margin-bottom: 43px;
}

.finance__info{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 17px;
}

.finance__item{
    width: 100%;
    position: relative;
    padding: 28px 22px 22px 22px;
    border-radius: 9px;
    border: 1px solid #D1D1D1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 25px;
}

.finance__item-subtitle{
    min-height: 90px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 10px;
}

.finance__item-title{
    font-size: 59px;
    font-weight: 400;
    line-height: 115%;
    color: var(--color-title);
    text-align: right;
    align-self: flex-end;
    white-space: nowrap;
}

.finance__item-title span{
    color: #D1D1D1;
}

.finance__item-decor{
    width: 100%;
    height: 1px;
    background-color: #D1D1D1;
}

.finance__item-text{
    font-size: 18px;
    font-weight: 400;
}

/* geography */
.geography__container{
    padding: 110px 97px 97px 90px;
    border-radius: 20px;
    background-color: var(--color-header);
    overflow-x: hidden;
}

.geography__subtitle{
    position: relative;
    padding-left: 27px;
    margin-bottom: 32px;
}

.geography__subtitle::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color:  var(--color-primary);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.geography h2{
    margin-bottom: 40px;
}

.geography__button{
    display: flex;
    gap: 17px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.button_tab{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-secondary);
    background-color: transparent;
    border: none;
    padding: 0;
}

.button_tab:hover{
    color: var(--color-text);
}

.button_tab_active{
    color: var(--color-text);
}

.geography__image{
    position: relative;
    width: fit-content;
    margin-top: -5px;
    margin-left: auto;
}

.geography__image-general{
    max-width: 1165px;
    width: 100%;
    height: auto;
}

.geography__image-secondary{
    position: absolute;
    width: 48px;
    height: auto;
    transition: all .3s ease-in-out;
}

.geography__image-secondary_one{
    top: 220px;
    left: 300px;
}

.geography__image-secondary_two{
    top: 340px;
    left: 230px;
}

.geography__title{
    margin-top: 72px;
}

.geography__partners{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    margin-top: 40px;
}

.geography__partners-item{
    max-width: 140px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geography__partners-item img{
    object-fit: cover;
    width: 70%;
    height: auto;
}

.geography__partners-item_big img{
    width: 100%;
}

@keyframes active{
    0%{
        transform: translateY(5%);
    }
    50%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(5%);
    }
}

.geography__image-secondary_active{
    width: 80px;
    animation-name: active;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.geography__title{
    font-size: 22px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

/* news */
.news__container{
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
}

.news__title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.news__slider{
    position: relative;
    max-width: 1038px;
    width: 100%;
    margin: 0;
}

.news__slider-info{
    align-items: stretch;
}

.news__slider-item{
    border-radius: 8px;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*row-gap: 34px;*/
    align-self: stretch;
    gap: 34px;
    justify-content: space-between;
}

.news__slider-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 32px;
    margin-right: 24px;
}

.news__slider-text p {
    color: #212C33;
    font-size: 24px;
    line-height: 128%
}

.news__slider-text span {
    color: #212C33;
    font-size: 18px;
    line-height: 150.5%;
}

.news__slider-image{
    width: 100%;
    height: auto;
}

.news__slider-image img{
    width: 100%;
    height: 313px;
    border-radius: 8px;
}

.btn-news-wrapper {
    padding: 5px 15px 5px 5px;
    margin: auto 24px 32px 32px;
    border-radius: 43px;
    border: 1px solid #676B7A;
    font-size: 15px;
    background-color: transparent;
}

.btn-news-wrapper:hover{
    border: 1px solid var(--color-primary);
}

.btn-news-wrapper:hover .button_news:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='28' viewBox='0 0 27 28' fill='none'%3E%3Crect x='0.333252' y='0.5' width='26.6667' height='26.6667' rx='13.3333' fill='%23EE1A26'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.92493 13.0991C9.75014 13.0991 9.58251 13.1685 9.45891 13.2921C9.33532 13.4157 9.26588 13.5833 9.26588 13.7581C9.26588 13.9329 9.33532 14.1005 9.45891 14.2241C9.58251 14.3477 9.75014 14.4172 9.92493 14.4172L15.7029 14.4162L13.1263 16.9929C13.0028 17.1163 12.9335 17.2837 12.9335 17.4583C12.9335 17.6329 13.0028 17.8003 13.1263 17.9237C13.2497 18.0472 13.4171 18.1165 13.5917 18.1165C13.7663 18.1165 13.9337 18.0472 14.0571 17.9237L17.7573 14.2235C17.8808 14.1001 17.9501 13.9327 17.9501 13.7581C17.9501 13.5835 17.8808 13.4161 17.7573 13.2927L14.0571 9.59252C13.9337 9.46908 13.7663 9.39974 13.5917 9.39974C13.4171 9.39974 13.2497 9.46908 13.1263 9.59252C13.0028 9.71596 12.9335 9.88338 12.9335 10.058C12.9335 10.2325 13.0028 10.3999 13.1263 10.5234L15.7029 13.1L9.92493 13.0991Z' fill='white'/%3E%3C/svg%3E");
}


.button_news{
    display: flex;
    gap: 12px;
    background-color: unset;
    border: none;

    color: var(--color-text-button);
    font-size: 15px;
}

.button_news:before {
    display: block;
    content: '';
    width: 27px;
    height: 27px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='28' viewBox='0 0 27 28' fill='none'%3E%3Crect x='0.333374' y='0.5' width='26.6667' height='26.6667' rx='13.3333' fill='%23676B7A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.92505 13.0991C9.75026 13.0991 9.58263 13.1685 9.45904 13.2921C9.33544 13.4157 9.26601 13.5834 9.26601 13.7581C9.26601 13.9329 9.33544 14.1006 9.45904 14.2242C9.58263 14.3478 9.75026 14.4172 9.92505 14.4172L15.703 14.4163L13.1264 16.9929C13.003 17.1163 12.9336 17.2837 12.9336 17.4583C12.9336 17.6329 13.003 17.8003 13.1264 17.9237C13.2498 18.0472 13.4173 18.1165 13.5918 18.1165C13.7664 18.1165 13.9338 18.0472 14.0573 17.9237L17.7574 14.2236C17.8809 14.1001 17.9502 13.9327 17.9502 13.7581C17.9502 13.5836 17.8809 13.4162 17.7574 13.2927L14.0573 9.59255C13.9338 9.46911 13.7664 9.39977 13.5918 9.39977C13.4173 9.39977 13.2498 9.46911 13.1264 9.59255C13.003 9.71599 12.9336 9.88341 12.9336 10.058C12.9336 10.2326 13.003 10.4 13.1264 10.5234L15.703 13.1L9.92505 13.0991Z' fill='white'/%3E%3C/svg%3E");
}

.button_news img{
    width: 27px;
    height: 27px;
}

.news__slider-button{
    cursor: pointer;
    border: none;
    background: unset;
}

.news__slider-button:after {
    display: block;
    content: '';
    width: 88px;
    height: 88px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88' fill='none'%3E%3Crect x='87.3372' y='87.3333' width='86.6667' height='86.6667' rx='43.3333' transform='rotate(-180 87.3372 87.3333)' stroke='%23D1D1D1' stroke-width='1.33333'/%3E%3Cpath d='M34.8643 43.2052L55.8653 43.2019C56.1662 43.2019 56.4549 43.321 56.6677 43.5329C56.8804 43.7448 57 44.0323 57 44.332C57 44.6318 56.8804 44.9192 56.6677 45.1312C56.4549 45.3431 56.1662 45.4622 55.8653 45.4622L34.8643 45.4588L44.8529 55.4073C45.0652 55.6187 45.1845 55.9055 45.1845 56.2045C45.1845 56.5036 45.0652 56.7903 44.8529 57.0018C44.6406 57.2132 44.3527 57.332 44.0524 57.332C43.7522 57.332 43.4643 57.2132 43.252 57.0018L31.3316 45.1293C31.1193 44.9178 31 44.6311 31 44.332C31 44.033 31.1193 43.7462 31.3316 43.5348L43.252 31.6623C43.4643 31.4508 43.7522 31.332 44.0524 31.332C44.3527 31.332 44.6406 31.4508 44.8529 31.6623C45.0652 31.8737 45.1845 32.1605 45.1845 32.4595C45.1845 32.7586 45.0652 33.0453 44.8529 33.2568L34.8643 43.2052Z' fill='%23212C33'/%3E%3C/svg%3E");
}

.swiper-button-right:after {
    transform: rotate(180deg);
}

.news__slider-button:hover.swiper-button-left:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88' fill='none'%3E%3Crect width='88' height='88' rx='44' fill='%23EE1A26'/%3E%3Cpath d='M53.1357 45.1268L32.1347 45.1302C31.8338 45.1301 31.5451 45.0111 31.3324 44.7991C31.1196 44.5872 31 44.2997 31 44C31 43.7003 31.1196 43.4128 31.3324 43.2009C31.5451 42.9889 31.8338 42.8699 32.1347 42.8698L53.1357 42.8732L43.1471 32.9248C42.9348 32.7133 42.8155 32.4265 42.8155 32.1275C42.8155 31.8285 42.9348 31.5417 43.1471 31.3302C43.3594 31.1188 43.6473 31 43.9476 31C44.2478 31 44.5357 31.1188 44.748 31.3302L56.6684 43.2027C56.8807 43.4142 57 43.701 57 44C57 44.299 56.8807 44.5858 56.6684 44.7973L44.748 56.6698C44.5357 56.8812 44.2478 57 43.9476 57C43.6473 57 43.3594 56.8812 43.1471 56.6698C42.9348 56.4583 42.8155 56.1715 42.8155 55.8725C42.8155 55.5735 42.9348 55.2867 43.1471 55.0752L53.1357 45.1268Z' fill='white'/%3E%3C/svg%3E");
    transform: rotate(180deg);
}

.news__slider-button:hover.swiper-button-right:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88' fill='none'%3E%3Crect width='88' height='88' rx='44' fill='%23EE1A26'/%3E%3Cpath d='M53.1357 45.1268L32.1347 45.1302C31.8338 45.1301 31.5451 45.0111 31.3324 44.7991C31.1196 44.5872 31 44.2997 31 44C31 43.7003 31.1196 43.4128 31.3324 43.2009C31.5451 42.9889 31.8338 42.8699 32.1347 42.8698L53.1357 42.8732L43.1471 32.9248C42.9348 32.7133 42.8155 32.4265 42.8155 32.1275C42.8155 31.8285 42.9348 31.5417 43.1471 31.3302C43.3594 31.1188 43.6473 31 43.9476 31C44.2478 31 44.5357 31.1188 44.748 31.3302L56.6684 43.2027C56.8807 43.4142 57 43.701 57 44C57 44.299 56.8807 44.5858 56.6684 44.7973L44.748 56.6698C44.5357 56.8812 44.2478 57 43.9476 57C43.6473 57 43.3594 56.8812 43.1471 56.6698C42.9348 56.4583 42.8155 56.1715 42.8155 55.8725C42.8155 55.5735 42.9348 55.2867 43.1471 55.0752L53.1357 45.1268Z' fill='white'/%3E%3C/svg%3E");
    transform: rotate(0deg);
}

.news__slider-button-container{
    display: flex;
    gap: 12px;
    align-items: center;
}

/* fund */
.fund__container{
    padding: 100px 72px 100px 90px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.fund__info{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 60px;
}

.fund__info-subtitle{
    font-size: 22px;
    font-weight: 400;
    color: var(--color-text);
}

.fund__info-text{
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
}

.fund__info-title{
    font-size: 28px;
    font-weight: 500;
    color: var(--color-text);
}

.fund__info-data{
    font-size: 36px;
    font-weight: 500;
    color: var(--color-title);
}

.fund__info-data-position{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.fund__info-contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 17px;
}

.fund__info-contacts a{
    font-size: 22px;
    font-weight: 400;
    color: var(--color-title);
}

.fund__speech{
    max-width: 785px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
}

.fund__speech-subtitle{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-bottom: 10px;
}

.fund__speech-title{
    font-size: 64px;
    font-weight: 400;
    color: var(--color-title);
}

.fund__speech-text{
    font-size: 28px;
    font-weight: 400;
    color: #1E1E1E;
}

/* footer */


.modal-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #212c3380;
    z-index: 99;
}

.modal-wrapper.active {
    display: flex;
}

.modal-content-wrapper {
    padding-right: 13px;
    display: flex;
    flex-direction: column;
    max-width: 1737px;
    width: 100%;
    max-height: 85%;
    height: 100%;
    background: #FFF;
    border-radius: 12px;
}

.modal_btn-close {
    margin-right: -12px;
    border: none;
    cursor: pointer;
    background-color: unset;
    display: flex;
    align-self: end;
    content: '';
    width: 45px;
    height: 45px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' viewBox='0 0 45 45' fill='none'%3E%3Crect x='0.5' y='0.5' width='44' height='44' rx='22' fill='white'/%3E%3Crect x='0.5' y='0.5' width='44' height='44' rx='22' stroke='%23F4F4F4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.2867 17.2368C17.726 16.7974 18.4383 16.7974 18.8776 17.2368L23.2193 21.5785L27.561 25.9201C28.0003 26.3595 28.0003 27.0718 27.561 27.5111C27.1217 27.9505 26.4094 27.9505 25.97 27.5111L17.2867 18.8278C16.8473 18.3884 16.8473 17.6761 17.2867 17.2368Z' fill='%23212C33'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.5612 17.237C28.0005 17.6763 28.0005 18.3886 27.5612 18.828L18.8778 27.5113C18.4385 27.9507 17.7262 27.9507 17.2869 27.5113C16.8475 27.072 16.8475 26.3597 17.2869 25.9203L25.9702 17.237C26.4096 16.7976 27.1219 16.7976 27.5612 17.237Z' fill='%23212C33'/%3E%3C/svg%3E");
}

.modal-content {
    margin-top: 41px;
    padding: 0 60px 71px 60px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    overflow-y: auto;
    height: 100%;
}

.modal_head-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.modal_title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 803px;
}

.modal_title {
    color: #212C33;
    font-size: 52px;
    font-weight: 500;
}

.modal_title-wrapper p {
    max-width: 743px;
    color: #676C7A;
    font-size: 22px;
}

.modal-sliders-wrapper {
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.modal_swiper {
    overflow: hidden;
    max-width: 628px;
    width: 100%;
    max-height: 385px;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    top: 91%;
    max-width: 68px;
    width: 100%;
    height: 68px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: block;
    content: '';
    max-width: 68px;
    width: 100%;
    height: 68px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='68' viewBox='0 0 68 68' fill='none'%3E%3Crect x='67.3017' y='66.5283' width='66.7851' height='66.0145' rx='33.0073' transform='rotate(-180 67.3017 66.5283)' stroke='%23D1D1D1' stroke-width='1.02746'/%3E%3Cpath d='M26.7075 32.8574L43.0797 32.8547C43.3143 32.8548 43.5394 32.9483 43.7053 33.1148C43.8712 33.2814 43.9644 33.5072 43.9644 33.7428C43.9644 33.9783 43.8712 34.2042 43.7053 34.3707C43.5394 34.5372 43.3143 34.6308 43.0797 34.6308L26.7075 34.6281L34.4945 42.4451C34.66 42.6113 34.753 42.8366 34.753 43.0716C34.753 43.3066 34.66 43.5319 34.4945 43.698C34.329 43.8642 34.1045 43.9575 33.8705 43.9575C33.6364 43.9575 33.4119 43.8642 33.2464 43.698L23.9533 34.3692C23.7878 34.2031 23.6949 33.9777 23.6949 33.7428C23.6949 33.5078 23.7878 33.2825 23.9533 33.1163L33.2464 23.7875C33.4119 23.6213 33.6364 23.528 33.8705 23.528C34.1045 23.528 34.329 23.6213 34.4945 23.7875C34.66 23.9536 34.753 24.179 34.753 24.4139C34.753 24.6489 34.66 24.8742 34.4945 25.0404L26.7075 32.8574Z' fill='%23212C33'/%3E%3C/svg%3E");
}

.swiper-button-next:after {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69' height='68' viewBox='0 0 69 68' fill='none'%3E%3Crect x='0.735411' y='0.770568' width='66.7851' height='66.0145' rx='33.0073' stroke='%23D1D1D1' stroke-width='1.02746'/%3E%3Cpath d='M41.3296 34.4414L24.9574 34.4441C24.7228 34.4441 24.4977 34.3505 24.3319 34.184C24.166 34.0175 24.0728 33.7916 24.0728 33.5561C24.0728 33.3205 24.166 33.0947 24.3319 32.9281C24.4977 32.7616 24.7228 32.6681 24.9574 32.668L41.3296 32.6707L33.5426 24.8537C33.3771 24.6875 33.2841 24.4622 33.2841 24.2272C33.2841 23.9923 33.3771 23.7669 33.5426 23.6008C33.7081 23.4346 33.9326 23.3413 34.1666 23.3413C34.4007 23.3413 34.6252 23.4346 34.7907 23.6008L44.0838 32.9296C44.2493 33.0958 44.3423 33.3211 44.3423 33.5561C44.3423 33.791 44.2493 34.0164 44.0838 34.1825L34.7907 43.5113C34.6252 43.6775 34.4007 43.7708 34.1666 43.7708C33.9326 43.7708 33.7081 43.6775 33.5426 43.5113C33.3771 43.3452 33.2841 43.1199 33.2841 42.8849C33.2841 42.6499 33.3771 42.4246 33.5426 42.2584L41.3296 34.4414Z' fill='%23212C33'/%3E%3C/svg%3E");
}

.modal_swiper_thumb {
    margin: 0 auto;
    overflow: hidden;
    max-width: 464px;
    width: 100%;
    max-height: 65px;
    height: 100%;
}

.modal_swiper_thumb .swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.modal_text {
    max-width: 1394px;
    color: #676C7A;
    font-size: 22px;
    font-weight: 400;
}


@media (max-width: 1800px){
    .header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo{
        border-radius: 8px;
        padding: 8px;
    }
    .logo img{
        width: 40px;
    }
    .header__button{
        margin-left: 0px;
    }
    .nav__list{
        gap: 24px;
    }
    .button_bordered{
        padding: 8px 14px;
    }
    .promo,
    .about,
    .info,
    .direction,
    .geography,
    .fund,
    .footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .total__container{
        margin: 40px 15px;
    }
    .finance__item-title{
        font-size: 50px;
    }
}

@media (max-width: 1439px){
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 18px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .menu.active {
        margin-top: -12px;
    }
    .menu.active .menu__line{
        display: none;
    }
    .menu{
        margin-left: 19px;
    }
    .menu__line{
        width: 35px;
        height: 2px;
        background-color: var(--color-title);
        transition: .3s ease-in-out;
    }
    .nav{
        z-index: 20;
        position: absolute;
        transform: translateY(-150%);
        top: 108px;
        right: 26px;
        transition: all .8s;
        width: max-content;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.97);
        border-radius: 8px;
        box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.08);
        padding: 20px;
        min-width: 188px;
    }
    .nav__link {
        color: #212C33;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
    .nav.active{
        transition: all .5s ease-in-out;
        transform: translateX(0%);
    }
    .nav__close.active{
        display: block;
        width: 26px;
        height: 26px;
    }
    .nav__list{
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .nav__item{
        display: inline-block;
    }
    .button_bordered {
        margin-left: auto;
    }
    .promo__subtitle{
        font-size: 20px;
    }
    .total__subtitle{
        font-size: 30px;
    }
    .total__title{
        font-size: 250px;
    }
    .total__text{
        font-size: 60px;
    }
    .direction__container{
        flex-direction: column;
    }
    .direction__info{
        max-width: 100%;
    }
    .finance__info{
        flex-wrap: wrap;
    }
    .finance__item{
        width: 50%;
        background-color: white;
    }
    .geography__image{
        margin: 20px auto 0 auto;
        width: 700px;
    }
    .geography__image-secondary{
        width: 30px;
    }
    .geography__image-secondary_one{
        top: 140px;
        left: 200px;
    }
    .geography__image-secondary_two{
        top: 200px;
        left: 140px;
    }
    .geography__image-secondary_active{
        width: 40px;
    }

    .footer .nav {
        position: unset;
        transform: unset;
        padding: 0;
        box-shadow: unset;
    }

    .footer .nav__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;
    }

    .footer .button_bordered {
        margin: auto;
    }


    .modal-content {
        gap: 60px;
    }

    .modal_head-wrapper {
        flex-wrap: wrap;
        gap: 60px;
    }
}

@media (max-width: 1200px){
    main{
        row-gap: 60px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    .promo__container{
        padding: 15px 15px 40px 15px;
    }
    .about__container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .info__container{
        padding: 40px 15px;
        flex-wrap: wrap;
    }
    .info__block {
        justify-content: start;
    }
    .info__item{
        padding: 18px;
        row-gap: 7px;
    }
    .info__item-subtitle{
        margin-bottom: 0;
    }
    .info__item-title{
        font-size: 50px;
        margin-bottom: 13px;
    }
    .info__item-text{
        margin-top: 4px;
    }
    .info__subtitle{
        font-size: 18px;
    }
    .total__container{
        padding: 30px 20px 30px 30px;
        row-gap: 34px;
    }
    .total__subtitle br{
        display: block;
    }


    .mission__container{
        padding: 40px 15px;
        flex-wrap: wrap;
    }


    .core-values-wrapper {
        display: flex;
        flex-direction: column;
    }

    .core-values_img {
        align-self: start;
    }


    .direction__container{
        padding: 40px 15px;
    }
    .finance__container{
        padding: 0 15px;
    }
    .geography__container{
        padding: 40px 15px;
    }
    .geography__partners{
        flex-wrap: wrap;
        gap: 10px;
    }
    .geography__partners-item{
        width: 74px;
    }
    .news__container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .fund__container{
        padding: 40px 15px;
        flex-direction: column;
    }


    .footer .header__container {
        flex-direction: column;
        padding: 30px 0;
    }

    .footer .nav__list {
        flex-direction: column;
        margin: auto;
    }
}

@media (max-width: 800px){
    .promo__container{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .promo__image{
        padding: 10px;
        display: flex;
        width: 100%;
    }
    .promo__image img{
        width: 100px;
        margin: 0 auto;
    }
    .about__container{
        flex-direction: column;
        gap: 32px;
    }
    .about__title{
        max-width: 100%;
    }
    .about__subtitle{
        margin-bottom: 14px;
    }
    .about__text{
        row-gap: 20px;
        margin-bottom: 0;
        max-width: 100%;
    }
    .about__text .about__subtitle{
        margin-bottom: 0;
    }
    .info__title{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .info__block{
        flex-direction: column;
    }
    .info__item-title{
        align-self: start;
        text-align: left;
    }
    .info__item-title br{
        display: none;
    }
    .total{
        padding: 0;
    }
    .total__title{
        font-size: 102px;
        line-height: 0.7;
    }
    .total__text{
        font-size: 40px;
    }
    /* .video__container{
        height: auto;
        aspect-ratio: 16/9;
    }     */
    .video__title{
        bottom: 5px;
        left: 30px;
        font-size: 16px;
        font-weight: 400;
    }
    .video__time{
        bottom: 5px;
        right: 30px;
        font-size: 16px;
        font-weight: 400;
    }
    .video-block {
        border-radius: 20px;
    }
    .video-block__play {
        width: 116px;
        height: 116px;
    }
    .mission{
        padding-top: 0;
        padding-bottom: 0;
    }
    .mission__title h2 {
        max-width: 90%;
    }
    .mission__title h2::before {
        max-width: 16px;
        height: 16px;
    }
    .mission__container{
        flex-direction: column;
        row-gap: 33px;
    }
    .direction__info-container{
        flex-direction: column;
    }
    .direction__item{
        padding: 18px;
        min-height: auto;
        row-gap: 16px;
    }
    .direction__item-title{
        min-height: auto;
    }
    .direction__item-title p{
        padding: 10px 19px;
        border-radius: 8px;
    }
    .finance__item{
        width: 100%;
    }
    .geography__button{
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }
    .news__container{
        position: relative;
        flex-direction: column;
        padding-bottom: 60px;
    }
    .news__slider-button-container{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .news__slider-button:after{
        width: 38px;
        height: 38px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 88 88' fill='none'%3E%3Crect x='87.3372' y='87.3333' width='86.6667' height='86.6667' rx='43.3333' transform='rotate(-180 87.3372 87.3333)' stroke='%23D1D1D1' stroke-width='1.33333'/%3E%3Cpath d='M34.8643 43.2052L55.8653 43.2019C56.1662 43.2019 56.4549 43.321 56.6677 43.5329C56.8804 43.7448 57 44.0323 57 44.332C57 44.6318 56.8804 44.9192 56.6677 45.1312C56.4549 45.3431 56.1662 45.4622 55.8653 45.4622L34.8643 45.4588L44.8529 55.4073C45.0652 55.6187 45.1845 55.9055 45.1845 56.2045C45.1845 56.5036 45.0652 56.7903 44.8529 57.0018C44.6406 57.2132 44.3527 57.332 44.0524 57.332C43.7522 57.332 43.4643 57.2132 43.252 57.0018L31.3316 45.1293C31.1193 44.9178 31 44.6311 31 44.332C31 44.033 31.1193 43.7462 31.3316 43.5348L43.252 31.6623C43.4643 31.4508 43.7522 31.332 44.0524 31.332C44.3527 31.332 44.6406 31.4508 44.8529 31.6623C45.0652 31.8737 45.1845 32.1605 45.1845 32.4595C45.1845 32.7586 45.0652 33.0453 44.8529 33.2568L34.8643 43.2052Z' fill='%23212C33'/%3E%3C/svg%3E");
    }

    .swiper-button-right:after{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 88 88' fill='none'%3E%3Crect x='87.3372' y='87.3333' width='86.6667' height='86.6667' rx='43.3333' transform='rotate(-180 87.3372 87.3333)' stroke='%23D1D1D1' stroke-width='1.33333'/%3E%3Cpath d='M34.8643 43.2052L55.8653 43.2019C56.1662 43.2019 56.4549 43.321 56.6677 43.5329C56.8804 43.7448 57 44.0323 57 44.332C57 44.6318 56.8804 44.9192 56.6677 45.1312C56.4549 45.3431 56.1662 45.4622 55.8653 45.4622L34.8643 45.4588L44.8529 55.4073C45.0652 55.6187 45.1845 55.9055 45.1845 56.2045C45.1845 56.5036 45.0652 56.7903 44.8529 57.0018C44.6406 57.2132 44.3527 57.332 44.0524 57.332C43.7522 57.332 43.4643 57.2132 43.252 57.0018L31.3316 45.1293C31.1193 44.9178 31 44.6311 31 44.332C31 44.033 31.1193 43.7462 31.3316 43.5348L43.252 31.6623C43.4643 31.4508 43.7522 31.332 44.0524 31.332C44.3527 31.332 44.6406 31.4508 44.8529 31.6623C45.0652 31.8737 45.1845 32.1605 45.1845 32.4595C45.1845 32.7586 45.0652 33.0453 44.8529 33.2568L34.8643 43.2052Z' fill='%23212C33'/%3E%3C/svg%3E");
    }

    .news__slider-button:hover.swiper-button-left:after{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 88 88' fill='none'%3E%3Crect width='88' height='88' rx='44' fill='%23EE1A26'/%3E%3Cpath d='M53.1357 45.1268L32.1347 45.1302C31.8338 45.1301 31.5451 45.0111 31.3324 44.7991C31.1196 44.5872 31 44.2997 31 44C31 43.7003 31.1196 43.4128 31.3324 43.2009C31.5451 42.9889 31.8338 42.8699 32.1347 42.8698L53.1357 42.8732L43.1471 32.9248C42.9348 32.7133 42.8155 32.4265 42.8155 32.1275C42.8155 31.8285 42.9348 31.5417 43.1471 31.3302C43.3594 31.1188 43.6473 31 43.9476 31C44.2478 31 44.5357 31.1188 44.748 31.3302L56.6684 43.2027C56.8807 43.4142 57 43.701 57 44C57 44.299 56.8807 44.5858 56.6684 44.7973L44.748 56.6698C44.5357 56.8812 44.2478 57 43.9476 57C43.6473 57 43.3594 56.8812 43.1471 56.6698C42.9348 56.4583 42.8155 56.1715 42.8155 55.8725C42.8155 55.5735 42.9348 55.2867 43.1471 55.0752L53.1357 45.1268Z' fill='white'/%3E%3C/svg%3E");
    }

    .news__slider-button:hover.swiper-button-right:after{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 88 88' fill='none'%3E%3Crect width='88' height='88' rx='44' fill='%23EE1A26'/%3E%3Cpath d='M53.1357 45.1268L32.1347 45.1302C31.8338 45.1301 31.5451 45.0111 31.3324 44.7991C31.1196 44.5872 31 44.2997 31 44C31 43.7003 31.1196 43.4128 31.3324 43.2009C31.5451 42.9889 31.8338 42.8699 32.1347 42.8698L53.1357 42.8732L43.1471 32.9248C42.9348 32.7133 42.8155 32.4265 42.8155 32.1275C42.8155 31.8285 42.9348 31.5417 43.1471 31.3302C43.3594 31.1188 43.6473 31 43.9476 31C44.2478 31 44.5357 31.1188 44.748 31.3302L56.6684 43.2027C56.8807 43.4142 57 43.701 57 44C57 44.299 56.8807 44.5858 56.6684 44.7973L44.748 56.6698C44.5357 56.8812 44.2478 57 43.9476 57C43.6473 57 43.3594 56.8812 43.1471 56.6698C42.9348 56.4583 42.8155 56.1715 42.8155 55.8725C42.8155 55.5735 42.9348 55.2867 43.1471 55.0752L53.1357 45.1268Z' fill='white'/%3E%3C/svg%3E");
    }

    .fund__speech-title{
        font-size: 50px;
    }

    .core-values-wrapper {
        padding: 0 17px;
    }


    .core-values_title {
        font-size: 24px;
        line-height: 28px
    }

    .core-values_task_item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 10px;
        background: #FFF;
        padding: 30px 61px 57px 30px;
    }

    .core-values_task_item_text {
        font-size: 18px;
    }

    .core-values_task_item_text:before {
        max-width: 14px;
        height: 14px;
    }

    .core-values_task_item span {
        font-size: 14px;
    }


    .modal-sliders-wrapper {
        width: 100%;
    }

    .modal-wrapper {
        align-items: end;
    }

    .modal-content {
        padding:0 10px 50px 10px;
        width: 100%;
        margin-top: 21px;
    }

    .modal-content-wrapper {
        max-height: 95%;
    }

    .modal_title {
        font-size: 24px;
        line-height: 115.5%
    }

    .modal_title-wrapper p {
        font-size: 18px;
    }

    .modal_text {
        font-size: 18px;
    }

    .modal_swiper_thumb {
        max-width: 60%;
    }
}

@media (max-width: 440px){
    .promo,
    .about,
    .info,
    .video,
    .mission,
    .direction,
    .geography,
    .fund{
        padding-left: 0;
        padding-right: 0;
    }
    h1{
        font-size: 24px;
        line-height: 28px;
    }
    h2{
        font-size: 24px;
        line-height: 28px;
    }
    .header{
        padding: 20px 0 10px 0;
    }
    .nav {
        top: 77px;
    }
    .header__container{
        padding: 0 15px;
        justify-content: start;
        border-radius: 8px;
    }
    .button_bordered{
        font-size: 10px;
        border: 1px solid #D9D9D9;
    }
    .promo__container{
        border-radius: 8px;
    }
    .promo__subtitle{
        font-size: 14px;
        margin-bottom: 14px;
    }
    .promo__image{
        border-radius: 8px;
    }
    .about__subtitle,
    .about__text p{
        font-size: 14px;
    }
    .info__container{
        border-radius: 8px;
    }
    .info__title{
        gap: 14px;
        margin-bottom: 25px;
    }
    .info__subtitle{
        font-size: 14px;
    }
    .info__block{
        gap: 10px;
    }
    .info__item-subtitle{
        font-size: 14px;
    }
    .info__item-title{
        font-size: 36px;
    }
    .info__item-text{
        font-size: 14px;
    }
    .total__container{
        border-radius: 8px;
    }
    .total__subtitle{
        font-size: 14px;
    }
    .total__title{
        font-weight: 500;
    }
    .total__text{
        font-size: 14px;
    }
    .video__container{
        padding-left: 17px;
        padding-right: 17px;
        /* aspect-ratio: 9/16; */
        height: 340px;
    }
    .video-block{
        border-radius: 8px;
    }
    .video__title{
        left: 27px;
    }
    .video__time{
        right: 27px;
    }
    .mission__subtitle{
        font-size: 14px;
    }
    .mission__text{
        row-gap: 24px;
    }
    .mission__text-title{
        font-size: 24px;
        margin-bottom: 0;
    }
    .mission__text p{
        font-size: 14px;
    }
    .mission__title .mission__subtitle{
        font-size: 18px;
        margin-bottom: -20px;
    }
    .mission__title h2 {
        font-size: 34px;
    }
    .direction__container{
        border-radius: 8px;
        gap: 22px;
    }
    .direction__title{
        row-gap: 14px;
    }
    .direction__title h2{
        margin-bottom: 0;
    }
    .direction__title .button_link{
        display: none;
    }
    .direction__info{
        row-gap: 10px;
    }
    .direction__info-container{
        row-gap: 10px;
    }
    .direction__item{
        border-radius: 8px;
    }
    .direction__item-title p{
        font-size: 14px;
    }
    .direction__item-text{
        font-size: 14px;
    }
    .finance__container{
        row-gap: 14px;
    }
    .finance__container h2{
        margin-bottom: 16px;
    }
    .finance__info{
        gap: 10px;
    }
    .finance__item{
        padding: 18px;
        border-radius: 8px;
        row-gap: 18px;
    }
    .finance__item-subtitle{
        font-size: 14px;
        min-height: auto;
        margin-bottom: 0;
    }
    .finance__item-title{
        font-size: 36px;
        font-weight: 500;
        align-self: start;
        text-align: left;
    }
    .finance__item-title br{
        display: none;
    }
    .finance__item-text{
        font-size: 14px;
    }
    .geography__container{
        border-radius: 8px;
    }
    .geography__container h2{
        margin-bottom: 16px;
    }
    .geography__subtitle{
        font-size: 14px;
        margin-bottom: 14px;
    }
    .geography__button .button_tab{
        font-size: 14px;
    }
    .geography__image{
        width: 330px;
        margin-top: 17px;
    }
    .geography__image-secondary{
        width: 18px;
    }
    .geography__image-secondary_one{
        top: 64px;
        left: 92px;
    }
    .geography__image-secondary_two{
        top: 96px;
        left: 64px;
    }
    .geography__image-secondary_active{
        width: 25px;
    }
    .geography__title{
        font-size: 16px;
    }
    .geography__partners{
        margin-top: 20px;
    }
    .news__container{
        gap:28px;
    }
    .news__slider-item{
        gap: 14px;
    }
    .news__slider-text{
        margin: 0 10px 12px 20px;
    }
    .fund__container{
        border-radius: 8px;
        gap: 64px;
    }
    .fund__info{
        row-gap: 14px;
    }
    .fund__info-subtitle{
        font-size: 14px;
    }
    .fund__info-title{
        font-size: 14px;
    }
    .fund__info-text{
        margin-top: 24px;
        row-gap: 8px;
    }
    .fund__info-data{
        font-size: 24px;
    }
    .fund__info-data-position{
        font-size: 18px;
        margin-top: 20px;
    }
    .fund__info-contacts{
        margin-top: 8px;
    }
    .fund__speech{
        gap: 14px;
    }
    .fund__speech-subtitle{
        font-size: 14px;
        margin-bottom: 0;
    }
    .fund__speech-title{
        font-size: 24px;
    }
    .fund__speech-text{
        font-size: 14px;
        margin-top: 10px;
    }
    .footer__container{
        margin-bottom: 100px;
    }
    .button_colored{
        padding: 18px;
        border-radius: 100px;
        font-size: 14px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        max-width: 29px;
        max-height: 29px;
        top: 94%;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        max-width: 29px;
        max-height: 29px;
    }

    .swiper-button-prev:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29' fill='none'%3E%3Crect x='28.9145' y='28.6997' width='28.692' height='28.2416' rx='14.1208' transform='rotate(-180 28.9145 28.6997)' stroke='%23D1D1D1' stroke-width='0.441415'/%3E%3Cpath d='M11.4743 14.2949L18.5081 14.2938C18.6089 14.2938 18.7056 14.3338 18.7769 14.405C18.8481 14.4763 18.8882 14.5729 18.8882 14.6737C18.8882 14.7745 18.8481 14.8711 18.7769 14.9423C18.7056 15.0136 18.6089 15.0536 18.5081 15.0536L11.4743 15.0525L14.8198 18.3969C14.8909 18.468 14.9308 18.5644 14.9308 18.6649C14.9308 18.7654 14.8909 18.8618 14.8198 18.9329C14.7487 19.004 14.6522 19.0439 14.5517 19.0439C14.4511 19.0439 14.3547 19.004 14.2836 18.9329L10.2911 14.9417C10.22 14.8706 10.1801 14.7742 10.1801 14.6737C10.1801 14.5732 10.22 14.4768 10.2911 14.4057L14.2836 10.4145C14.3547 10.3434 14.4511 10.3034 14.5517 10.3034C14.6522 10.3034 14.7487 10.3434 14.8198 10.4145C14.8909 10.4855 14.9308 10.582 14.9308 10.6825C14.9308 10.783 14.8909 10.8794 14.8198 10.9505L11.4743 14.2949Z' fill='%23212C33'/%3E%3C/svg%3E");
    }

    .swiper-button-next:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29' fill='none'%3E%3Crect x='1.08741' y='0.456547' width='28.692' height='28.2416' rx='14.1208' stroke='%23D1D1D1' stroke-width='0.441415'/%3E%3Cpath d='M18.5276 14.8614L11.4938 14.8625C11.393 14.8625 11.2963 14.8224 11.2251 14.7512C11.1538 14.68 11.1138 14.5833 11.1138 14.4826C11.1138 14.3818 11.1538 14.2852 11.2251 14.2139C11.2963 14.1427 11.393 14.1026 11.4938 14.1026L18.5276 14.1038L15.1822 10.7594C15.1111 10.6883 15.0711 10.5919 15.0711 10.4913C15.0711 10.3908 15.1111 10.2944 15.1822 10.2233C15.2533 10.1522 15.3497 10.1123 15.4503 10.1123C15.5508 10.1123 15.6473 10.1522 15.7184 10.2233L19.7108 14.2145C19.7819 14.2856 19.8219 14.382 19.8219 14.4826C19.8219 14.5831 19.7819 14.6795 19.7108 14.7506L15.7184 18.7418C15.6473 18.8129 15.5508 18.8528 15.4503 18.8528C15.3497 18.8528 15.2533 18.8129 15.1822 18.7418C15.1111 18.6707 15.0711 18.5743 15.0711 18.4738C15.0711 18.3732 15.1111 18.2768 15.1822 18.2058L18.5276 14.8614Z' fill='%23212C33'/%3E%3C/svg%3E");
    }

    .modal_swiper_thumb {
        max-width: 73%;
    }
}
